.background-text::after {
  content: "Best Car's in Town";
  text-align: left;
  width: 400px;
  /* width: 80%; */
  /* position: absolute; */
}

@media only screen and (max-width: 768px) {
  .background-text::after {
    width: 250px;
  }
}
